@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body,
html {
  background: 
  radial-gradient(500px 500px ellipse at top left, #18357f, transparent),
  radial-gradient(400px 400px ellipse at bottom , #18357f, transparent),
  radial-gradient(450px 450px ellipse at right , #18357f, transparent);
}

* {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
  color: #18357f;
}

h2 {
  font-weight: 400;
}

h3 {
  margin: 0;
}

a {
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
  color: #25355e;
}

.centered {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blueButton {
  margin-inline: "20px";
  width: 20%;
}

.mainCard {
  color: red;
  border-width: 2em;
  border-color: #18357f;
}

.loginComps {
  width: 100%;
  border-radius: 500;
}

.circle-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px; /* Adjust the width and height as needed */
  height: 150px;
  background-color: #f9f5ec; /* Gray background color */
  border-radius: 50%; /* Make it a circle using border-radius */
  border:5px solid #18357f;    
  overflow: hidden; /* Ensure the image is within the circular container */
  margin: 1em;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px; /* Adjust the width and height as needed */
  height: 150px;
  overflow: hidden; /* Ensure the image is within the circular container */
  margin: 0em;
}

.logo-img {
  width: 100%; /* Adjust the width of the logo image */
  height: auto; /* Maintain the aspect ratio of the logo */
}
